<html>
<head>
  <link rel="stylesheet" href="../styles/colors.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../scripts/debugCapture.js"></script>
</head>
<body>



<div class="row h-100">
  <div class="col-12 d-flex justify-content-center align-items-center secondary-black">
    <div id="container" style="display: inline-block">
    </div>  
  </div>  
</div>

</body>

<script>
  window.onload = () => {
      let _debug = debugCapture();
      _debug.init();                
  };    
</script>

</html>