<html>
<head>
  <link rel="stylesheet" href="../styles/colors.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../scripts/external/slidr.min.js"></script>
    <script src="../scripts/imageSlideshow.js"></script>

    <script>
        window.onload = () => {
            let _imageSlideshow = imageSlideshow();
            _imageSlideshow.init();                
        };    
    </script>
</head>
<body>



<div class="row h-100">
  <div class="col-12 d-flex justify-content-center align-items-center secondary-black">
    <div id="slidr-container" style="display: inline-block">
    </div>  
  </div>  
</div>

</body>

</html>