<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - buffergeometry - particles</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="../styles/external/scanRender.css">
	</head>
	<body>

		<div id="container"></div>
		<div id="info"><a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - buffergeometry - particles</div>

		<script src="../scripts/scanRender.js" type="module"></script>

		<script type="module">
			import { scanRender } from '../scripts/scanRender.js';

			window.onload = () => {
				let _scanRender = scanRender();
				_scanRender.init();                
			};    
		</script>

	</body>
</html>